Privacy/Security considerations section

I'd like to raise this topic again. I don't want to re-litigate #777, the context in that issue is sufficient. However, as I mentioned in https://github.com/w3cping/privacy-request/issues/49#issuecomment-909819059, there is not justification for entirely leaving out the Security and Privacy Considerations sections. At a minimum, the spec can include `There are no known security impacts of the features in this specification.` as stated in the  [Self-Review Questionnaire](https://www.w3.org/TR/security-privacy-questionnaire/#considerations).

If there has not been a full review of the spec for privacy/security, then I encourage doing that, either within WHATWG or in coordination with the W3C PING/TAG, for completeness.

See also #776. I suppose we could have a section to that effect, to make it explicit nothing is known.

Since DOM is pretty old, security and privacy researchers have already studied it a lot, as well as browser security and privacy teams. Feel free to review it again though. I'm personally not aware of any issues.

Thanks, I recommend being explicit about this so future reviewers and implementers know what they should keep in mind when they read the spec. In this case, there aren't any concerns, but knowing this is not obvious and requires either being an expert (and knowing the history/community) or searching through old Github issues.

Thanks for reconsidering this request.

FWIW, I reopened #776.

> Feel free to review it again though.

PING's normal expectation is that doc authors will start by doing a self-analysis.  Even if there aren't issues, I expect the authors to make an argument for why.  In some cases that's obvious.  I'm not sure it is here.

You might find [RFC3552 Section 5](https://datatracker.ietf.org/doc/html/rfc3552#section-5) and/or [RFC6973](https://tools.ietf.org/html/rfc6973) helpful.  I'm not sure how much the usual [TAG/PING questionnaire ](https://w3ctag.github.io/security-questionnaire/)will help in this case, but it's worth looking through.

It might be that there's some confusion here. The PING is a W3C group, but this is a WHATWG spec and does not follow the processes you are used to. You're welcome to contribute an analysis if it's important to you or the W3C, but there's no expectation that the WHATWG editors do that work for you.

It might be a matter of misaligned expectations, not confusion.

PING expects that work from all who ask us to review documents.  Technically, I suppose, this particular review request comes from the W3C HTML WG, even though they asked us to file issues over here, in WHATWG repos.  Hopefully they'll help us sort through the misalignment.

Personally, I don't have a problem with a Security and Privacy Considerations section that says, roughly "Because this is a large specification, security and privacy considerations are distributed through the document, so that they are adjacent in the text to the technology on which they comment. They can be found by … <searching for | looking for sections tagged | xxx >". The point of a P&S section is to help readers find the considerations, and to give evidence that thought has been given to the P&S considerations. Centralization of the considerations is not required.


I created a PR for the DOM Standard at #1058. It essentially does what https://github.com/whatwg/dom/issues/1013#issue-984541540 suggests.